.eventimg {
  width: 250px;
  height: 250px;
}

.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  /* flex-wrap: nowrap; */
}

.innercards {
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 70px;
}

/* .innercards:hover {
    scale:1.1;
    transition: 0.5s;
} */

.detailsof {
  width: 250px;
  display: flex;
  justify-content: space-between;
  /* left: 27%; */
  align-items: center;
}
